@plugin "daisyui/theme" {
  name: "morva-kids";
  default: false;
  prefersdark: false;
  color-scheme: "light";

  --color-base-100: #a0e9ff;
  --color-base-200: #ffc1e3;
  --color-base-300: #fff3b0;
  --color-base-content: #052a3d;

  --color-primary: #00bfff;
  --color-primary-content: #052a3d;
  --color-secondary: #ff69b4;
  --color-secondary-content: #052a3d;

  --color-accent: #c8facc;
  --color-accent-content: #052a3d;

  --color-neutral: #f0f4f8;
  --color-neutral-content: #052a3d;

  --color-info: #64c8f0;
  --color-success: #baf7bf;
  --color-warning: #fff3b0;
  --color-error: #ffbdbd;

  --radius-selector: 0.75rem;
  --radius-field: 0.75rem;
  --radius-box: 0.75rem;

  --size-selector: 0.25rem;
  --size-field: 0.2rem;

  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}
