@plugin "daisyui/theme" {
  name: "morva-default";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #052a3d;
  --color-base-200: #112240;
  --color-base-300: #1a2b3c;
  --color-base-content: #ffffff;
  --color-primary: #19d1e6;
  --color-primary-content: #0a192f;
  --color-secondary: #14b8a6;
  --color-secondary-content: #1a2b3c;
  --color-accent: #ff7f50;
  --color-accent-content: oklch(26% 0.079 36.259);
  --color-neutral: #1a2b3c;
  --color-neutral-content: #ffffff;
  --color-info: #0ea5e9;
  --color-info-content: oklch(14% 0 0);
  --color-success: #22c55e;
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: #facc15;
  --color-warning-content: #1a2b3c;
  --color-error: #ef4444;
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.1875rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
